* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Times New Roman", Times, serif;
  color: #2c2c2c;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ca62a5;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.footer h3 {
  font-size: 1em;
  font-weight: lighter;
  color: #fff;
  margin: 0.5em;
}
.footer p {
  font-size: 1em;
  font-weight: lighter;
  color: #fff;
  margin: 0.5em;
}
.footer p a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}
.footer p a:hover {
  color: #2c2c2c;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

body {
  background-color: rgba(202, 98, 197, 0.1215686275);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4.8em;
  margin-bottom: 7em;
}
main .home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .home .home--search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: 1em 0;
}
@media screen and (max-width: 711px) {
  main .home .home--search {
    width: 90%;
  }
}
@media screen and (max-width: 632px) {
  main .home .home--search {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 1em 0em 0em 0em;
  }
}
main .home .home--search .home--search--select {
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  background-color: #ca62a5;
  border: 1px solid #e26ab6;
  border-radius: 5px;
  padding: 0.5em 7em 0.5em 1em;
  margin: 1em;
  transition: background-color 1s;
}
@media screen and (max-width: 1168px) {
  main .home .home--search .home--search--select {
    padding: 0.5em 3em 0.5em 1em;
  }
}
@media screen and (max-width: 927px) {
  main .home .home--search .home--search--select {
    padding: 0.5em 2em 0.5em 1em;
  }
}
@media screen and (max-width: 867px) {
  main .home .home--search .home--search--select {
    padding: 0.5em 1em;
  }
}
@media screen and (max-width: 807px) {
  main .home .home--search .home--search--select {
    padding: 0.5em;
  }
}
@media screen and (max-width: 747px) {
  main .home .home--search .home--search--select {
    padding: 0.5em 0.2em;
  }
}
@media screen and (max-width: 474px) {
  main .home .home--search .home--search--select {
    padding: 0.5em 0.1em;
    margin: 0.5em 0.5em 1em 0.5em;
  }
}
@media screen and (max-width: 414px) {
  main .home .home--search .home--search--select {
    padding: 0.3em 0.1em;
    margin: 0em 0.1em 1em 0.1em;
  }
}
@media screen and (max-width: 373px) {
  main .home .home--search .home--search--select {
    padding: 0.3em 0em;
    margin: 0em 0em 0.5em 0em;
  }
}
main .home .home--search .home--search--select:hover {
  background-color: #e26ab6;
}
@media screen and (max-width: 632px) {
  main .home .home--search .home--search--buttons {
    padding: 0.6em;
    margin-bottom: 1em;
  }
}
main .home .home--search .home--search--buttons a {
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #e26ab6;
  border-radius: 5px;
}
@media screen and (max-width: 632px) {
  main .home .home--search .home--search--buttons a {
    padding: 0.5em 1em;
    margin: 0.5em 0.5em 0 0.5em;
  }
}
main .home .home--search .home--search--buttons #search {
  color: #fff;
  background-color: #ca62a5;
  transition: background-color 0.3s;
}
main .home .home--search .home--search--buttons #search:hover {
  background-color: #e26ab6;
}
main .home .home--search .home--search--buttons #clear {
  background-color: #fff;
  color: #2c2c2c;
  transition: color, 0.3s, background-color 0.3s;
}
main .home .home--search .home--search--buttons #clear:hover {
  color: #fff;
  background-color: #ca62a5;
}
main .home .home--cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
}
@media screen and (max-width: 1168px) {
  main .home .home--cards {
    max-width: 90%;
  }
}
@media screen and (max-width: 1066px) {
  main .home .home--cards {
    max-width: 95%;
  }
}
@media screen and (max-width: 1066px) {
  main .home .home--cards {
    max-width: 97%;
  }
}
@media screen and (max-width: 700px) {
  main .home .home--cards {
    max-width: 100%;
  }
}
main .home .home--cards .home--card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 0 1 25%;
  max-width: 25%;
  max-height: 45%;
  background-color: #fff;
  border: 2px solid #ca62a5;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  box-shadow: -8px 10px 10px 0.1px rgba(85, 85, 85, 0.4666666667);
}
@media screen and (max-width: 1168px) {
  main .home .home--cards .home--card {
    flex: 0 1 30%;
    max-width: 30%;
    max-height: 50%;
  }
}
@media screen and (max-width: 989px) {
  main .home .home--cards .home--card {
    flex: 0 1 35%;
    max-width: 35%;
    max-height: 55%;
  }
}
@media screen and (max-width: 700px) {
  main .home .home--cards .home--card {
    flex: 0 1 40%;
    max-width: 40%;
    max-height: 60%;
  }
}
@media screen and (max-width: 585px) {
  main .home .home--cards .home--card {
    flex: 0 1 60%;
    max-width: 60%;
    max-height: 70%;
  }
}
@media screen and (max-width: 414px) {
  main .home .home--cards .home--card {
    flex: 0 1 70%;
    max-width: 70%;
    max-height: 70%;
  }
}
main .home .home--cards .home--card h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
  color: #2c2c2c;
  margin: 0.5em 0 1em 0;
}
main .home .home--cards .home--card .home--card--spans {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1em;
}
main .home .home--cards .home--card .home--card--spans .span_info {
  background-color: #a646af;
  color: #fff;
  font-size: 1em;
  padding: 0.1em 0.8em;
  border-radius: 15px;
  margin: 0.3em;
}
main .home .home--cards .home--card a {
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 0.5em;
  border: 1px solid #e26ab6;
  border-radius: 5px;
  color: #fff;
  background-color: #ca62a5;
  transition: background-color 0.3s;
}
main .home .home--cards .home--card a:hover {
  background-color: #e26ab6;
}
main .home .home--cards .home--card--details {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: space-evenly;
  flex: 0 1 60%;
  width: 60%;
  background-color: #fff;
  border: 2px solid #ca62a5;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  box-shadow: -8px 10px 10px 0.1px rgba(85, 85, 85, 0.4666666667);
}
@media screen and (max-width: 1457px) {
  main .home .home--cards .home--card--details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1168px) {
  main .home .home--cards .home--card--details {
    flex: 0 1 70%;
    width: 70%;
  }
}
@media screen and (max-width: 747px) {
  main .home .home--cards .home--card--details {
    flex: 0 1 80%;
    width: 80%;
  }
}
main .home .home--cards .home--card--details .card--img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  object-fit: cover;
}
main .home .home--cards .home--card--details .card--img img {
  width: 100%;
  margin: 0.5em;
}
main .home .home--cards .home--card--details .card--description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
main .home .home--cards .home--card--details .card--description h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 1.5em;
  color: #2c2c2c;
  margin: 0.5em 0 1em 0;
  width: auto;
}
main .home .home--cards .home--card--details .card--description p {
  text-align: center;
  margin: 0 1em 1em 1em;
  max-width: auto;
  word-wrap: anywhere;
}
@media screen and (max-width: 867px) {
  main .home .home--cards .home--card--details .card--description p {
    max-height: 150px;
    overflow: scroll;
  }
}
main .home .home--cards .home--card--details .card--description .home--card--spans--details {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1em;
}
main .home .home--cards .home--card--details .card--description .home--card--spans--details .span_info--details {
  background-color: #a646af;
  color: #fff;
  font-size: 1em;
  padding: 0.1em 0.8em;
  border-radius: 15px;
  margin: 0.3em;
}
main .home .home--cards .home--card--details .card--description .home--card--btn--details {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
main .home .home--cards .home--card--details .card--description .home--card--btn--details .btn--edit, main .home .home--cards .home--card--details .card--description .home--card--btn--details .btn--delete {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  background-color: #189b4e;
  border: 1px solid #13793d;
  border-radius: 5px;
  transition: background-color 0.3s;
}
main .home .home--cards .home--card--details .card--description .home--card--btn--details .btn--edit:hover, main .home .home--cards .home--card--details .card--description .home--card--btn--details .btn--delete:hover {
  background-color: #13793d;
}
main .home .home--cards .home--card--details .card--description .home--card--btn--details .btn--delete {
  background-color: #aa2020;
  border: 1px solid #8b1919;
}
main .home .home--cards .home--card--details .card--description .home--card--btn--details .btn--delete:hover {
  background-color: #8b1919;
}
main .home .home--edit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .home .home--edit .home--form--edit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 60%;
}
@media screen and (max-width: 1168px) {
  main .home .home--edit .home--form--edit {
    width: 70%;
  }
}
@media screen and (max-width: 973px) {
  main .home .home--edit .home--form--edit {
    width: 80%;
  }
}
main .home .home--edit .home--form--edit form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
main .home .home--edit .home--form--edit form label {
  color: #2c2c2c;
  font-size: 1em;
  margin: 1em 1em 1em 0;
}
main .home .home--edit .home--form--edit form .job-title {
  padding: 0.5em;
  color: #2c2c2c;
  font-size: 1em;
  outline: 0;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  transition: border 0.3s;
}
main .home .home--edit .home--form--edit form .job-title:hover {
  border: 1px solid #ca62a5;
}
main .home .home--edit .home--form--edit form .job-title:focus {
  outline: 1px solid #ca62a5;
  border: 1px solid #ca62a5;
}
main .home .home--edit .home--form--edit form textarea {
  padding: 0.5em;
  color: #2c2c2c;
  font-size: 1em;
  outline: 0;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  transition: border 0.3s;
}
main .home .home--edit .home--form--edit form textarea:hover {
  border: 1px solid #ca62a5;
}
main .home .home--edit .home--form--edit form textarea:focus {
  outline: 1px solid #ca62a5;
  border: 1px solid #ca62a5;
}
main .home .home--edit .home--form--edit form #form--edit--select_location, main .home .home--edit .home--form--edit form #form--edit--select_category, main .home .home--edit .home--form--edit form #form--edit--select_seniority {
  cursor: pointer;
  font-size: 1em;
  color: #2c2c2c;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
  transition: border 0.3s;
}
main .home .home--edit .home--form--edit form #form--edit--select_location:hover, main .home .home--edit .home--form--edit form #form--edit--select_category:hover, main .home .home--edit .home--form--edit form #form--edit--select_seniority:hover {
  border: 1px solid #ca62a5;
}
main .home .home--edit .home--form--edit form #btn--form--edit--confirm {
  width: 10%;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  padding: 0.5em;
  background-color: #189b4e;
  border: 1px solid #13793d;
  border-radius: 5px;
  transition: background-color 0.3s;
}
@media screen and (max-width: 815px) {
  main .home .home--edit .home--form--edit form #btn--form--edit--confirm {
    width: 20%;
  }
}
@media screen and (max-width: 421px) {
  main .home .home--edit .home--form--edit form #btn--form--edit--confirm {
    width: 25%;
  }
}
@media screen and (max-width: 360px) {
  main .home .home--edit .home--form--edit form #btn--form--edit--confirm {
    width: 30%;
  }
}
main .home .home--edit .home--form--edit form #btn--form--edit--confirm:hover {
  background-color: #13793d;
}
main .home .home--edit .d-none-edit-form {
  display: none;
}
main .home .home--delete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .home .home--delete .delete--warning {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding: 1em;
  background-color: rgba(199, 98, 98, 0.5058823529);
  border: 1px solid rgba(199, 98, 98, 0.4196078431);
  border-radius: 5px;
  box-shadow: -4px 5px 10px 0.1px rgba(85, 85, 85, 0.4666666667);
}
@media screen and (max-width: 956px) {
  main .home .home--delete .delete--warning {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }
}
@media screen and (max-width: 599px) {
  main .home .home--delete .delete--warning {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}
main .home .home--delete .delete--warning p {
  font-size: 1em;
  color: #2c2c2c;
}
main .home .home--delete .delete--warning .delete--warning--btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: auto;
}
@media screen and (max-width: 599px) {
  main .home .home--delete .delete--warning .delete--warning--btn {
    margin-top: 1em;
  }
}
main .home .home--delete .delete--warning .delete--warning--btn #btn_delete--confirm, main .home .home--delete .delete--warning .delete--warning--btn #btn_cancel {
  text-decoration: none;
  background-color: #aa2020;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0em 1em;
  border: 1px solid #8b1919;
  border-radius: 5px;
  transition: background-color 0.3s;
}
@media screen and (max-width: 605px) {
  main .home .home--delete .delete--warning .delete--warning--btn #btn_delete--confirm, main .home .home--delete .delete--warning .delete--warning--btn #btn_cancel {
    margin: 0em 0.3em;
  }
}
main .home .home--delete .delete--warning .delete--warning--btn #btn_delete--confirm:hover, main .home .home--delete .delete--warning .delete--warning--btn #btn_cancel:hover {
  background-color: #8b1919;
}
main .home .home--delete .delete--warning .delete--warning--btn #btn_cancel {
  background-color: #575656;
  border: 1px solid #474747;
}
main .home .home--delete .delete--warning .delete--warning--btn #btn_cancel:hover {
  background-color: #474747;
}
main .d-none-home {
  display: flex;
}
main .create_job {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .create_job .validate {
  position: absolute;
  background-color: #575656;
  padding: 1em;
  border: 1px solid #474747;
  border-radius: 5px;
  z-index: 12;
}
main .create_job .validate h3 {
  color: #fff;
  padding: 1em;
  text-align: center;
}
main .create_job .validate .btn-ok {
  background-color: #9ba2a5;
  padding: 0.3em 1em;
  color: #2c2c2c;
}
main .create_job .d-none-validate {
  display: none;
}
main .create_job .create_job--form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 60%;
}
@media screen and (max-width: 1131px) {
  main .create_job .create_job--form {
    width: 70%;
  }
}
@media screen and (max-width: 973px) {
  main .create_job .create_job--form {
    width: 80%;
  }
}
main .create_job .create_job--form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
main .create_job .create_job--form form label {
  color: #2c2c2c;
  font-size: 1em;
  margin: 1em 1em 1em 0;
}
main .create_job .create_job--form form .job-title {
  padding: 0.5em;
  color: #2c2c2c;
  font-size: 1em;
  outline: 0;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  transition: border 0.3s;
}
main .create_job .create_job--form form .job-title:hover {
  border: 1px solid #ca62a5;
}
main .create_job .create_job--form form .job-title:focus {
  outline: 1px solid #ca62a5;
  border: 1px solid #ca62a5;
}
main .create_job .create_job--form form textarea {
  padding: 0.5em;
  color: #2c2c2c;
  font-size: 1em;
  outline: 0;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  transition: border 0.3s;
}
main .create_job .create_job--form form textarea:hover {
  border: 1px solid #ca62a5;
}
main .create_job .create_job--form form textarea:focus {
  outline: 1px solid #ca62a5;
  border: 1px solid #ca62a5;
}
main .create_job .create_job--form form #create_job--select_location, main .create_job .create_job--form form #create_job--select_category, main .create_job .create_job--form form #create_job--select_seniority {
  cursor: pointer;
  font-size: 1em;
  color: #2c2c2c;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
  transition: border 0.3s;
}
main .create_job .create_job--form form #create_job--select_location:hover, main .create_job .create_job--form form #create_job--select_category:hover, main .create_job .create_job--form form #create_job--select_seniority:hover {
  border: 1px solid #ca62a5;
}
main .create_job .create_job--form form #btn--form--submit {
  width: 10%;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  padding: 0.5em;
  background-color: #188c9b;
  border: 1px solid #188c9b;
  border-radius: 5px;
  transition: background-color 0.3s;
}
@media screen and (max-width: 815px) {
  main .create_job .create_job--form form #btn--form--submit {
    width: 20%;
  }
}
@media screen and (max-width: 421px) {
  main .create_job .create_job--form form #btn--form--submit {
    width: 25%;
  }
}
@media screen and (max-width: 360px) {
  main .create_job .create_job--form form #btn--form--submit {
    width: 30%;
  }
}
main .create_job .create_job--form form #btn--form--submit:hover {
  background-color: #136579;
}
main .d-none-job {
  display: none;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #ca62a5;
  padding: 1.5em;
}
@media screen and (max-width: 632px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (max-width: 373px) {
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
}
.navbar h2 {
  margin-right: 1em;
  color: #fff;
}
.navbar .navbar--links a {
  text-decoration: none;
  color: #fff;
  margin: 0 1em;
  padding-bottom: 0.3em;
  border-bottom: none;
  transition: border-bottom 0.3s;
}
.navbar .navbar--links a:hover {
  border-bottom: 1px solid #fff;
}
.navbar .navbar--links a:focus {
  border-bottom: 1px solid #fff;
}

.spinner {
  display: block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #5692e0;
  margin: 2em;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
