// Colores
$color--light: #fff;
$color--dark: #2c2c2c;
$primary_color: #ca62a5;
$secondary_color: #e26ab6;
$color_span: #a646af;
$box_shadow: #55555577;
$color--submit: #188c9b;
$color--submit_hover: #136579;
$color--edit: #189b4e;
$color--edit_hover: #13793d;
$color--delete: #aa2020;
$color--delete_hover: #8b1919;
$color--cancel: #575656;
$color--cancel_hover: #474747;
$bg--delete: #c7626281;
$border--delete: #c762626b;

// Fuentes
$font_family: 'Times New Roman', Times, serif;
$font_size--large: 2em;
$font_size--medium: 1.5em;
$font_size--small: 1em;
