// Colores
$color--light: #fff;
$color--dark: #2c2c2c;
$color--light_pink: #f07cc734;
$primary_color: #ca62a5;
$secondary_color: #e26ab6;
$color_span: #a646af;
$box_shadow: #55555577;
$color--submit: #188c9b;
$color--submit_hover: #136579;
$color--edit: #189b4e;
$color--edit_hover: #13793d;
$color--delete: #aa2020;
$color--delete_hover: #8b1919;
$color--cancel: #575656;
$color--cancel_hover: #474747;
$color_spinner: #5692e0;
$bg--delete: #c7626281;
$border--delete: #c762626b;
$bg--color: #ca62c51f;

// Dark Mode 
$bg--dark_mode: #14141453;
$primary_color--dark_mode: #2c2b2c;
$secondary_color--dark_mode: #151515;
$color_span--dark_mode: #565656;
$form_color--dark_mode: #d4d4d4;
$color_spinner--dark_mode: #a42baeae;
$color--light_pink--dark_mode: #68606534;

// Fuentes
$font_family: 'Times New Roman', Times, serif;
$font_size--large: 2em;
$font_size--medium: 1.5em;
$font_size--small: 1em;
$font_size--super_small: .9em;
