// Colores
$font_color--light: #fff;
$font_color--dark: #2c2c2c;
$primary_color: #ca62a5;
$secondary_color: #e26ab6;

// Fuentes
$font_family: 'Times New Roman', Times, serif;
$font_size--large: 2em;
$font_size--medium: 1.5em;
$font_size--small: 1em;
