* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
    background-color: $bg--color;
    transition: background-color .3s;

    &.dark {
        background-color: $bg--dark_mode;
    }
}