#blur-container {
   @media screen and (max-width: 1808px) {
        min-height: 122%;
   } 
}

.blur-job {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -10;
    filter: blur(3px);
}

.blur-edit {
    width: 100%;
    position: absolute;
    z-index: -100;
    filter: blur(3px);
}

.blur-search {
    width: 100%;
    position: absolute;
    z-index: -10;
    filter: blur(3px);
}