.footer {
    @include d-flex ($direction: column, $justify_content: center, $align_items: center);
    width: 100%;
    background-color: $primary_color;
    padding: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: background-color .3s;

    body.dark & {
        background-color: $primary_color--dark_mode;
    }

    h3 {
        font-size: $font_size--small;
        font-weight: lighter;
        color: $color--light;
        margin: .5em;
        transition: color .3s;
    
        body.dark & {
            color: $primary_color;
        }
    }

    p {
        font-size: $font_size--small;
        font-weight: lighter;
        color: $color--light;
        margin: .5em;
        transition: color .3s;
    
        body.dark & {
            color: $primary_color;
        }
        
        a {
            text-decoration: none;
            color: $color--light;
            transition: color .3s;    

            body.dark & {
                color: $primary_color;
            }
        }

        a:hover {
            color: $color--dark;

            body.dark & {
                color: $color--light;
            }
        }
    }
}