.navbar {
    @include d-flex ($direction: row, $justify_content: space-between, $align_items: center);
    width: 100%;
    background-color: $primary_color;
    padding: 1.5em;
    transition: background-color .3s;

    body.dark & {
        background-color: $primary_color--dark_mode;
    }

    @media screen and (max-width: 632px) {
        @include d-flex ($direction: row, $justify_content: space-evenly, $align_items: center);
    }

    @media screen and (max-width: 400px) {
        padding: 1.5em .4em;
    }

    h2 {
        margin-right: 1em;
        color: $color--light;
        padding-bottom: .3em;
        transition: color .3s;

        body.dark & {
            color: $primary_color;
        }
    }

    .navbar--links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-left: 2em;

        @media screen and (max-width: 500px) {
            margin-left: 0;
        }

        a {
            text-decoration: none;
            color: $color--light;
            margin: 0 1em;
            padding-bottom: .3em;
            border-bottom: none;
            transition: border-bottom .3s, color .3s;

            body.dark & {
                color: $primary_color;
            }

            @media screen and (max-width: 460px) {
                font-size: $font_size--super_small;
            }
        }

        a:hover {
            border-bottom: 1px solid $color--light;

            body.dark & {
                border-bottom: 1px solid $primary_color;
            }
        }

        a:focus {
            border-bottom: 1px solid $color--light;

            body.dark & {
                border-bottom: 1px solid $primary_color;
            }
        }
    }
}